@page "/learn/category/{categoryId:guid}/subcategory/{subcategoryId:guid}/lesson"

<div class="row g-4">
    @if (_wordsResponse is not null)
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/learn">Уроки</a></li>
                <li class="breadcrumb-item"><a href="/learn/category/@_wordsResponse.ParentCategoryId">@_wordsResponse.ParentCategoryTitle</a></li>
                <li class="breadcrumb-item">@_wordsResponse.CategoryTitle</li>
            </ol>
        </nav>

        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#words">Слова</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#theory">Теория</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="words">
                <div class="row g-3">
                    @foreach (var w in _wordsResponse.Words)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="card card-hover h-100">
                                <a href="/learn/category/@_wordsResponse.ParentCategoryId/subcategory/@w.CategoryId/lesson/words/@w.Id" class="text-decoration-none text-dark">
                                    <div class="card h-100 shadow-sm hover-shadow">
                                        <img src="@w.ImagePath" style="width: 64px; margin: auto; padding-top: 0.5em;" class="card-img-top">
                                        <div class="card-body text-center">
                                            <h6 class="card-title fw-bold mb-0 mt-0">@w.Pt</h6>
                                            <p class="card-title mt-0">@w.PtTranscription</p>
                                            <h6 class="card-title fw-bold mt-3 mb-0">@w.Rus</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="theory">
                <div class="p-0 m-0" style="margin-top: -4em !important; padding-top: 0 !important; margin-left: -2em !important">
                    @_htmlContent
                </div>
            </div>
        </div>
    }
</div>


